@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?99987279');
  src: url('../fonts/fontello.eot?99987279#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?99987279') format('woff2'),
       url('../fonts/fontello.woff?99987279') format('woff'),
       url('../fonts/fontello.ttf?99987279') format('truetype'),
       url('../fonts/fontello.svg?99987279#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'OstrichSans-Black';
	src: url('../fonts/OstrichSans-Black.eot');
	src: local('OstrichSans-Black'),
		 url('../fonts/OstrichSans-Black') format('embedded-opentype'), 
		 url('../fonts/OstrichSans-Black.woff') format('woff'),
		 url('../fonts/OstrichSans-Black.ttf') format('truetype'),
		 url('../fonts/OstrichSans-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OstrichSans-Medium';
	src: url('../fonts/OstrichSans-Medium.eot');
	src: local('OstrichSans-Medium'),
		 url('../fonts/OstrichSans-Medium') format('embedded-opentype'), 
		 url('../fonts/OstrichSans-Medium.woff') format('woff'),
		 url('../fonts/OstrichSans-Medium.ttf') format('truetype'),
		 url('../fonts/OstrichSans-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: local('ProximaNova-Regular'),
		 url('../fonts/ProximaNova-Regular') format('embedded-opentype'), 
		 url('../fonts/ProximaNova-Regular.woff') format('woff'),
		 url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
		 url('../fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/Proxima Nova Bold.eot');
	src: local('Proxima Nova Bold'),
		 url('../fonts/Proxima Nova Bold') format('embedded-opentype'), 
		 url('../fonts/Proxima Nova Bold.woff') format('woff'),
		 url('../fonts/Proxima Nova Bold.ttf') format('truetype'),
		 url('../fonts/Proxima Nova Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}