@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?99987279");
  src: url("../fonts/fontello.eot?99987279#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?99987279") format("woff2"), url("../fonts/fontello.woff?99987279") format("woff"), url("../fonts/fontello.ttf?99987279") format("truetype"), url("../fonts/fontello.svg?99987279#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OstrichSans-Black';
  src: url("../fonts/OstrichSans-Black.eot");
  src: local("OstrichSans-Black"), url("../fonts/OstrichSans-Black") format("embedded-opentype"), url("../fonts/OstrichSans-Black.woff") format("woff"), url("../fonts/OstrichSans-Black.ttf") format("truetype"), url("../fonts/OstrichSans-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OstrichSans-Medium';
  src: url("../fonts/OstrichSans-Medium.eot");
  src: local("OstrichSans-Medium"), url("../fonts/OstrichSans-Medium") format("embedded-opentype"), url("../fonts/OstrichSans-Medium.woff") format("woff"), url("../fonts/OstrichSans-Medium.ttf") format("truetype"), url("../fonts/OstrichSans-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: local("ProximaNova-Regular"), url("../fonts/ProximaNova-Regular") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/Proxima Nova Bold.eot");
  src: local("Proxima Nova Bold"), url("../fonts/Proxima Nova Bold") format("embedded-opentype"), url("../fonts/Proxima Nova Bold.woff") format("woff"), url("../fonts/Proxima Nova Bold.ttf") format("truetype"), url("../fonts/Proxima Nova Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/_icon.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 36, ../sass/_icon.scss */
.icon-facebook:before {
  content: '\e800';
}

/* 'юаА' */
/* line 37, ../sass/_icon.scss */
.icon-twitter:before {
  content: '\e801';
}

/* 'юаБ' */
/* line 39, ../sass/_icon.scss */
.icon {
  color: #2a323a;
  background: #fff;
  border-radius: 3px;
}
/* line 44, ../sass/_icon.scss */
.icon-twitter {
  position: relative;
  top: -2px;
  font-size: 8px;
  padding: 4.5px;
}

/* line 1, ../sass/_header.scss */
header {
  height: 922px;
  background: #2a323a;
  /*background: linear-gradient(177deg, $base-bg-color-1, $base-bg-color-2 100%);*/
  background: -webkit-linear-gradient(279.4deg, #2a323a 0%, #2a323a 79%, #fff 79.1%, #fff 100%);
  background: linear-gradient(170.6deg, #2a323a 0%, #2a323a 79%, #fff 79.1%, #fff 100%);
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

/* line 12, ../sass/_header.scss */
.menu {
  letter-spacing: .3px;
  padding: 29px 20px 14px;
}

/* line 17, ../sass/_header.scss */
.list-item {
  display: inline-block;
  font-size: 14px;
  padding: 20px;
}
/* line 22, ../sass/_header.scss */
.list-item:first-child {
  margin-left: 7px;
}
/* line 26, ../sass/_header.scss */
.list-item a {
  display: block;
  font-family: 'ProximaNova-Regular';
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
}
/* line 34, ../sass/_header.scss */
.list-item a:hover {
  color: #2ecc71;
}
/* line 39, ../sass/_header.scss */
.list-item .title-menu {
  position: relative;
  top: 6px;
  left: 6px;
  font-family: 'Proxima Nova Bold';
  color: #f39c12;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 2.4px;
}

/* .triangle-left {*/
/* 	width: 0;*/
/* 	height: 0;*/
/* 	border-top: 70px solid transparent;*/
/* 	border-right: 140px solid #6bbf20;*/
/* 	border-bottom: 70px solid transparent;*/
/* }*/
/* line 1, ../sass/_main.scss */
article {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 6, ../sass/_main.scss */
.info-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 66%;
  color: #222222;
  margin: auto;
  margin-bottom: 107px;
}

/* line 14, ../sass/_main.scss */
.info-img {
  width: 300px;
  height: 210px;
  margin-right: 7px;
}
/* line 19, ../sass/_main.scss */
.info-img:nth-child(1) {
  margin-top: 63px;
  margin-left: 5px;
}

/* line 25, ../sass/_main.scss */
.info-text {
  width: 59%;
  padding: 37px 0 0 5px;
}
/* line 30, ../sass/_main.scss */
.info-text:nth-child(2) h2 {
  line-height: 30px;
  margin-bottom: 12px;
}
/* line 35, ../sass/_main.scss */
.info-text:nth-child(2) p {
  margin-bottom: 21px;
}
/* line 40, ../sass/_main.scss */
.info-text h2 {
  font-family: 'OstrichSans-Black';
  font-size: 24px;
  margin-bottom: 15px;
}
/* line 46, ../sass/_main.scss */
.info-text p {
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  line-height: 21px;
}

/* line 53, ../sass/_main.scss */
.register {
  height: 756px;
  background: -webkit-linear-gradient(265.8deg, #2a323a 0%, #2a323a 89%, #fff 89.1%, #fff 100%);
  background: linear-gradient(-175.8deg, #2a323a 0%, #2a323a 89%, #fff 89.1%, #fff 100%);
  font-family: 'OstrichSans-Black';
  font-size: 30px;
  text-align: center;
}
/* line 61, ../sass/_main.scss */
.register p {
  line-height: 36px;
  margin-left: -11px;
  margin-bottom: 25px;
}
/* line 67, ../sass/_main.scss */
.register .btn {
  width: 212px;
  height: 52px;
  font-family: 'Proxima Nova Bold';
  font-size: 24px;
  line-height: 52px;
  color: #2ecc71;
  text-transform: uppercase;
  border-radius: 35px;
  border: 3px solid #2ecc71;
  padding: 12px 51px;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}
/* line 81, ../sass/_main.scss */
.register .btn:hover {
  color: #fff;
  background: rgba(46, 204, 113, 0.22);
  border-color: #fff;
}

/* line 89, ../sass/_main.scss */
.triangle {
  position: relative;
  height: 440px;
  overflow: hidden;
  margin-bottom: 6px;
}
/* line 95, ../sass/_main.scss */
.triangle .top,
.triangle .bottom {
  position: absolute;
  width: 160%;
  -webkit-transform: rotate(8.8deg);
  -ms-transform: rotate(8.8deg);
  transform: rotate(8.8eg);
}
/* line 104, ../sass/_main.scss */
.triangle .top {
  top: -55px;
  height: 230px;
  background: #fff;
  z-index: 15;
}
/* line 111, ../sass/_main.scss */
.triangle .bottom {
  bottom: -157px;
  left: -202px;
  height: 450px;
  background: #2a323a;
}
/* line 118, ../sass/_main.scss */
.triangle .circle {
  position: relative;
  top: -371px;
  left: 13px;
  width: 787px;
  height: 787px;
  border-radius: 50%;
  background: #222222;
  margin: auto;
  z-index: 10;
}

/* line 131, ../sass/_main.scss */
.testimonials {
  color: #a1a1a1;
  padding: 34px 12%;
  margin-bottom: 81px;
}
/* line 136, ../sass/_main.scss */
.testimonials h2 {
  font-family: 'OstrichSans-Black';
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 58px;
}
/* line 144, ../sass/_main.scss */
.testimonials .testimonial {
  position: relative;
  left: 10px;
  display: inline-block;
  width: 380px;
  float: none;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
}
/* line 153, ../sass/_main.scss */
.testimonials .testimonial:nth-child(3) {
  float: right;
  top: 90px;
  margin-right: 20px;
}
/* line 159, ../sass/_main.scss */
.testimonials .testimonial:nth-child(4) {
  top: 81px;
}
/* line 163, ../sass/_main.scss */
.testimonials .testimonial p {
  line-height: 21px;
}

/* line 169, ../sass/_main.scss */
.comment-box {
  position: relative;
  top: -2px;
  width: 99%;
  height: 20px;
  background: #fff;
  border-bottom: 3px solid #a1a1a1;
  border-right: 3px solid #a1a1a1;
}
/* line 178, ../sass/_main.scss */
.comment-box::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 160px;
  width: 0;
  height: 0;
  border-left: 33px solid transparent;
  border-right: 3px solid transparent;
  border-top: 31px solid #a1a1a1;
}
/* line 190, ../sass/_main.scss */
.comment-box::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 165px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 3px solid transparent;
  border-top: 23px solid #fff;
  -webkit-transform: skew(1deg);
  -ms-transform: skew(1deg);
  transform: skew(1deg);
}

/* line 206, ../sass/_main.scss */
.who-comment {
  text-align: right;
}
/* line 209, ../sass/_main.scss */
.who-comment .img-author {
  position: relative;
  top: 9px;
  right: 7px;
  display: inline-block;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: #2a323a;
}
/* line 220, ../sass/_main.scss */
.who-comment .author {
  display: inline-block;
  font-family: 'Proxima Nova Bold';
  text-align: left;
  margin-top: 18px;
  margin-right: 4px;
}
/* line 227, ../sass/_main.scss */
.who-comment .author p {
  font-size: 16px;
  line-height: 18px;
}
/* line 232, ../sass/_main.scss */
.who-comment .author p + p {
  font-family: 'ProximaNova-Regular';
  font-size: 14px;
}

/* line 1, ../sass/_footer.scss */
footer {
  min-height: 642px;
  background: url(../img/bg-footer.jpg) top center no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* line 8, ../sass/_footer.scss */
.footer-triangle {
  position: relative;
  top: -108px;
  left: -20px;
  width: 150%;
  height: 137px;
  background: #fff;
  -webkit-transform: rotate(-4.8deg);
  -ms-transform: rotate(-4.8deg);
  transform: rotate(-4.8deg);
}

/* line 20, ../sass/_footer.scss */
.footer-top {
  max-width: 960px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 86px 0 0 18px;
  margin: 0 auto 67px;
}

/* line 31, ../sass/_footer.scss */
.address {
  width: 200px;
}
/* line 34, ../sass/_footer.scss */
.address h4 {
  font-family: 'OstrichSans-Black';
  font-size: 24px;
  color: #f39c12;
  margin-bottom: 18px;
}
/* line 41, ../sass/_footer.scss */
.address address {
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
}
/* line 45, ../sass/_footer.scss */
.address address p {
  line-height: 21px;
  margin-bottom: 21px;
}
/* line 50, ../sass/_footer.scss */
.address address span {
  color: #2ecc71;
}

/* line 56, ../sass/_footer.scss */
.mini-menu {
  width: 240px;
  height: 182px;
  font-family: 'ProximaNova-Regular';
  font-size: 15.9px;
  padding: 0 0 0 80px;
  margin-left: -20px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 68, ../sass/_footer.scss */
.mini-menu li {
  margin-bottom: 6px;
}
/* line 71, ../sass/_footer.scss */
.mini-menu li a {
  color: #fff;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}
/* line 76, ../sass/_footer.scss */
.mini-menu li a:hover {
  color: #2ecc71;
}

/* line 83, ../sass/_footer.scss */
.subscribe {
  max-width: 420px;
  font-family: 'OstrichSans-Medium';
  font-size: 30px;
  text-transform: uppercase;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 92, ../sass/_footer.scss */
.subscribe form {
  position: relative;
  margin-bottom: 22px;
}

/* line 98, ../sass/_footer.scss */
input[type="search"] {
  position: relative;
  top: -3px;
  left: -2px;
  width: 100%;
  height: 45px;
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  line-height: 45px;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #fff;
}

/* line 113, ../sass/_footer.scss */
input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  height: 41px;
  border: 0;
  outline: none;
  background: url(../img/arrow-f.png) top center;
  cursor: pointer;
}

/* line 125, ../sass/_footer.scss */
.footer-bot {
  max-width: 942px;
  font-family: 'ProximaNova-Regular';
  line-height: 21px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  /* line 2, ../sass/_media.scss */
  .testimonials .testimonial:nth-child(3) {
    margin-right: 0;
  }

  /* line 6, ../sass/_media.scss */
  .mini-menu {
    width: 140px;
    padding-left: 40px;
    margin-bottom: 12px;
  }

  /* line 12, ../sass/_media.scss */
  .footer-top {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 36px;
  }
  /* line 21, ../sass/_media.scss */
  .footer-top .address {
    margin-bottom: 26px;
  }
  /* line 25, ../sass/_media.scss */
  .footer-top input[type="search"] {
    padding-right: 14px;
  }

  /* line 30, ../sass/_media.scss */
  .footer-bot {
    padding: 35px;
  }
}
@media (max-width: 850px) {
  /* line 36, ../sass/_media.scss */
  .list-item:nth-child(3) {
    display: block;
  }

  /* line 40, ../sass/_media.scss */
  header img {
    width: 360px;
    height: auto;
  }

  /* line 46, ../sass/_media.scss */
  .content-wrapper .info-img {
    width: 40%;
    margin-right: 0;
    margin-top: 37px;
    margin-left: 10px;
  }
  /* line 52, ../sass/_media.scss */
  .content-wrapper .info-img:nth-child(1) {
    margin-right: 10px;
    margin-left: 0;
  }
  /* line 58, ../sass/_media.scss */
  .content-wrapper .info-box:last-child {
    margin-bottom: 0;
  }

  /* line 63, ../sass/_media.scss */
  .triangle {
    height: 260px;
  }
  /* line 66, ../sass/_media.scss */
  .triangle .circle {
    display: none;
  }

  /* line 71, ../sass/_media.scss */
  .register p {
    font-size: 22px;
    padding: 20px;
    margin-left: 0;
  }

  /* line 79, ../sass/_media.scss */
  .testimonials .testimonial {
    display: block;
    margin: auto;
  }
  /* line 84, ../sass/_media.scss */
  .testimonials .testimonial:nth-child(3) {
    top: 45px;
    float: none;
  }
}
@media (max-width: 620px) {
  /* line 93, ../sass/_media.scss */
  .content-wrapper .info-box {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 107px;
  }
  /* line 104, ../sass/_media.scss */
  .content-wrapper .info-text {
    width: 100%;
    text-align: justify;
  }
  /* line 109, ../sass/_media.scss */
  .content-wrapper .info-img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  /* line 117, ../sass/_media.scss */
  .title-menu span {
    display: block;
  }

  /* line 121, ../sass/_media.scss */
  header img {
    width: 260px;
  }

  /* line 125, ../sass/_media.scss */
  .testimonials .testimonial {
    left: 0;
    width: 250px;
  }

  /* line 130, ../sass/_media.scss */
  .comment-box {
    margin-bottom: 18px;
  }
}
/* line 16, ../sass/style.scss */
.substrate {
  background: top center no-repeat url(../kitchen-master-free.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: .6;
}

/* line 27, ../sass/style.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 34, ../sass/style.scss */
body {
  background-color: #fff;
  color: #fff;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 14px;
}

/* line 41, ../sass/style.scss */
.content {
  min-height: 100%;
  overflow: hidden;
  /*position: relative;*/
}

/* line 47, ../sass/style.scss */
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  outline: 0;
}
